@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../font/ChartwellLines.woff") format("woff");
}

html,
body {
  font-family: "Gilroy-ExtraBold", sans-serif;
  letter-spacing: 2px;
}

.card-body {
  background: #f0f0f0;
  top: 10%;
  z-index: 2;
  border-radius: 500px;
  border: transparent;
  transform-style: preserve-3d;
  transition: 0.3s ease-out;
  display: flex;
  align-items: center;
}

img {
  filter: grayscale(100%);
  z-index: 3;
  transform: translateZ(70px);
  transition: 0.3s ease-out;
}

.mt {
  margin-top: 6rem;
}

@media (min-width: 768px) {
  .fixed-bottom {
    padding: 2rem 10rem;
  }

  .flex {
    width: 500px;
  }
}

@media (max-width: 768px) {

  .fixed-bottom {
    padding: 2rem 15px;
  }

  .flexRemove {
    display: inline !important;
    text-align: center;
  }

  .follow {
    margin-top: 2rem;
  }
}

a {
  color: #808080;
}

a:hover {
  color: #000000;
}

body #magicMouseCursor {
  border: 2px solid #000;
}

body #magicPointer {
  background: #000;
}

body #magicPointer.pointer-blur {
  border: 2px solid #000;
  box-shadow: 0px 0px 15px -5px black;
}

body #magicPointer.is-hover {
  background: #808080; 
}